h2 {
  margin-bottom: 5px;
  font-size: 1.75em;
}
.container {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}
small {
  font-size: 0.5em;
}

.nk {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  &_label {
    background-color: #888888;
    color: #333333;
    padding: 5px;
    margin-right: 0.25em;
    border-radius: 5px;

    &-ready {
      background-color: #0088ff;
      color: #ffffff;
    }
  }

  &_button {
    padding: 10px;
    text-align: center;
    text-decoration: none;

    outline: none;

    user-select: none;

    color: #222222;
    background-color: #d6d6d6;
    border: none;
    border-bottom: 2px solid #777777;
    border-radius: 5px;
    transition: linear 20ms;

    &:active {
      background-color: #cccccc;
    }

    &-inline {
      display: inline-block;
      margin-right: 10px;

      &:last-of-type {
        margin-right: 0;
      }
    }

    &-success {
      color: #ffffff;
      background-color: #0088ff;

      &:active {
        background-color: #005599;
      }
    }

    &-warning {
      color: #ffffff;
      background-color: #ff8800;

      &:active {
        background-color: #9e5400;
      }
    }

    &-info {
      color: #ffffff;
      background-color: #ff8800;

      &:active {
        background-color: #009888;
      }
    }

    &-danger {
      color: #ffffff;
      background-color: #e65151;

      &:active {
        background-color: #a33838;
      }
    }
  }

  &_input,
  &_select {
    outline: none;
    border: none;
    border-bottom: 2px solid #999999;

    transition: linear 100ms;

    &:focus {
      border-bottom: 2px solid #ff8800;
    }
  }

  &_select {
    font-size: 1.25em;
  }

  &_label {
    font-size: 1.25em;
  }

  &_radioGroup {
    margin-left: 10px;

    & input[type='radio'] {
      margin-right: 5px;
    }

    &:first-of-type {
      margin-left: 0;
    }
  }

  &_cardContainer {
  }

  &_card {
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;

    background-color: #dadada;
    border-bottom: 2px solid #777777;

    &_title {
      font-size: 1.5em;
    }

    &_content {
      padding-top: 10px;
    }
    &_code {
      padding-left: 5px;
      color: #333333;
    }

    &_control {
      text-align: right;
    }
  }
}
