.print {
  &_table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;

    th,
    td {
      padding: 5px 10px;
      border-bottom: 1px dotted #000000;
      font-size: 20px;
    }

    th {
      background-color: #000000;
      color: #ffffff;
      font-weight: bold;
    }

    &_check {
      text-align: center;
    }
  }
}
